// Colors
$primary-color: #1e2836;
$secondary-color: #ffc20a;
$tertiary-color: #e24532;
$text-color: #ffffff;
$webpage-bg: linear-gradient(to right, #1f2937, #111827);
$outline-white: #dad9d9;

// Font Size desktop
$fsHeading1: 64px;
$fsHeading2: 40px;
$fsHeading3: 32px;
$fsHeading4: 24px;

$fsContent: 20px;
$fsParagraph: 20px;
$fsText: 16px;
$fsSubText: 14px;
$fsSmall: 12px;

// Font Size mobile
$fsMobHeading1: 40px;
$fsMobHeading2: 32px;
$fsMobHeading3: 24px;
$fsMobHeading4: 16px;

$fsMobContent: 16px;
$fsMobParagraph: 20px;
$fsMobText: 14px;

// Font weight
$fwLight: 300;
$fwNormal: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;

// Fonts
$fontPoppins: "Poppins", sans-serif;
$fontSwanky: "Swanky and Moo Moo", cursive;
