@use "/src/styles/global" as global;

.social-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50px;
  top: 50%;
  gap: 24px;
  translate: 50% -50%;
  @include global.md {
    left: 20px;
  }
  > a {
    color: var(--text-color);
    svg {
      vertical-align: middle;
    }
  }
  > a:hover {
    cursor: pointer;
  }
  @include global.md {
    left: 20px;
  }
  @include global.sm {
    position: absolute;
    flex-direction: row;
    translate: -50% 0%;
    justify-content: center;
    top: initial;
    left: 50%;
    bottom: 20px;
  }
}

.social-row {
  flex-direction: row;
  position: static;
  translate: initial;
  left: initial;
  top: initial;
}
